<a href="https://colab.research.google.com/github/Anyulund/Python-practice/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For Loops Demystified

Debugging Article Link 

http://net-informations.com/python/err/range.htm#:~:text=The%20string%20index%20out%20of,not%20inside%20of%20the%20string.

In [ ]:
import numpy as np

In [ ]:
#Our input will be a matrix to demonstrate how for loops work.

mat = []
base = 2
lbs = 0

for row in range(4):
  row = np.random.randint(10, size = 7).tolist()
  mat.append(row)

print(mat)

[[5, 1, 1, 6, 8, 1, 7], [5, 0, 9, 0, 3, 5, 4], [5, 8, 3, 2, 5, 6, 5], [2, 9, 0, 0, 9, 1, 5]]

Turn each row of the matrix into the binary matrix. 
Use 3 different for loops: use an element vise iteration, use range and finally use enumerate.

In [ ]:
#1. Use iterators 

binrow = [0]*4
num = 0
bincol =[[0]*4]*6

matbinrow = []

for i in range(0,len(mat[0])):
  for j in range(0,4):
    lbs = mat[0][i] % base
    binrow[4-j-1] = lbs
    mat[0][i]//= base
  print(binrow) 
bincol.append(binrow)      
print(bincol)

[0, 1, 0, 1]
[0, 0, 0, 1]
[0, 0, 0, 1]
[0, 1, 1, 0]
[1, 0, 0, 0]
[0, 0, 0, 1]
[0, 1, 1, 1]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 1, 1, 1]]

In [ ]:
target = [7]
nums = [9,2,3,-6,4,7,-1]

for i in range(0, len(nums)-2):
  print(len(nums)-2)
  for j in range(i+1,len(nums)):
    if nums[i]+nums[j] == target:
      print(i,j)

5
5
5
5
5

In [ ]:
 for i in range (5,0,-1):
  for j in range (i, 0, -1):
		print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)-1,-1, -1):
  print(list1[i])

50
40
30
20
10

In [ ]:
fact = 1
for i in range(5,1,-1):
  fact = fact*i
print(fact)

120

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(0, len(my_list), 2):
	print(my_list[i], end=' ')

10 30 50 70 90

In [ ]:

for j in range(i,6):
  	print(j*'*')

*****

In [ ]:
for i in range (1,6):
    for j in range(1,i+1):
        print('*', end= ' ')
    print()
for i in range (1,5):
    for j in range(i,5):
        print('*', end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
i = 1
while (i < 11):
	print(i)
	i+=1

1
2
3
4
5
6
7
8
9
10